
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Antonio Avestruz </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooplate-main.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">

  </head>
<!--
Tooplate 2113 Earth
https://www.tooplate.com/view/2113-earth
-->
  <body>

    <div class="sequence">

      <div class="seq-preloader">
        <svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="seq-preload-indicator"><g fill="#F96D38"><path class="seq-preload-circle seq-preload-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z"/><path class="seq-preload-circle seq-preload-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z"/><path class="seq-preload-circle seq-preload-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z"/></g></svg>
      </div>

    </div>

        <div class="logo">
            <h1>Welcome!</h1>
            <h2>AA</h2>
        </div>
        <nav>
          <ul>
            <li><a href="#1"><img src="{% static 'images/icon-1.png' %}" alt=""> <em>Homepage</em></a></li>
            <li><a href="#2"><img src="{% static 'images/icon-2.png' %}" alt=""> <em>About me</em></a></li>
            <li><a href="#3"><img src="{% static 'images/icon-3.png' %}" alt=""> <em>Projects</em></a></li>
            <li><a href="#4"><img src="{% static 'images/icon-4.png' %}" alt=""> <em>Resume</em></a></li>
          </ul>
        </nav>

        <div class="slides">
          <div class="slide" id="1">
            <div id="slider-wrapper">
                <div id="image-slider">
                  <ul>
                    <li class="active-img">
                      <div class="slide-caption">
                        <h6>For Consideration</h6>
                        <h2>Antonio<br>Avestruz</h2>
                      </div>
                    </li>
                    <li>
                      <div class="slide-caption">
                        <h6>Latest Accomplishment</h6>
                        <h2>Google<br>Tech Certification</h2>
                      </div>
                    </li>
                    <li>
                      <div class="slide-caption">
                        <h6>In Progress</h6>
                        <h2>Google<br>Automation</h2>
                      </div>
                    </li>
                  </ul>
                </div>
                <div id="thumbnail">
                  <ul>
                    <li class="active"><img src="{% static 'images/thumb-01.jpg' %}" alt="Earth" /></li>
                    <li><img src="{% static 'images/thumb-02.jpg' %}" alt="Meeting" /></li>
                    <li><img src="{% static 'images/thumb-03.jpg' %}" alt="Smart" /></li>
                  </ul>
                </div>
              </div>
        </div>
        <div class="slide" id="2">
            <div class="content second-content">
                <div id='tabs'>
                  <ul>
                    <li><a href='#tabs-1'><span class='fa fa-desktop'></span></a></li>
                    <li><a href='#tabs-2'><span class='fa fa-users'></span></a></li>
                    <li><a href='#tabs-3'><span class='fa fa-mobile'></span></a></li>
                  </ul>
                  <section class='tabs-content'>
                    <article id='tabs-1'>
                      <h2>What I Offer?</h2>
                      <span>Fresh Innovative look at traditional problems</span>
                      <p>with a variety of soft skills in team leading and customer relations Ive experienced a plethora of different team dynamics and excelled in all of them.</p>
                      <p>Attention to detail in verifying data, unique problem solving and range of knowledge base from foundational I.T. through Extensive Object Oriented Programming</p>
                    </article>
                    <article id='tabs-2'>
                      <h2>What I've done</h2>
                      <span>Certifications include</span>
                      <p>Through Google:</p>
                      <p>Using Python to interact with operating system (completion May 2021), Crash Course on Python (Completion April 2021), Google IT support Specialization (completion February 2021), System Administration and IT infrastructure Services (January 2021), </p>
                      <p>Operating Systems and You: Becoming a poweruser (completion February 2021), Technical Support Fundamentals (completion February 2021), The Bits and Bytes of Computer Networking (completion February 2021)</p>
                      <p>other:</p>
                      <p>Learn Python 3 Course (codemy.com)</p>
                      <p>Python Deep Dive (Udemy.com)</p>
                    </article>
                    <article id='tabs-3'>
                      <h2>Who I am?</h2>
                      <span>Antonio Robert Avestruz</span>
                      <p>Driven Self-Started, family oriented from humble beginnings.</p>
                      <p>I have deep profound love of learning and mastering new skills and hope to bring this ambition and dedication to your company.</p>
                    </article>
                  </section>
                </div>
            </div>
        </div>
        <div class="slide" id="3">
            <div class="content third-content">
                <li><a href="https://github.com/PillarofMorning"> <em>My GitHub</em></a></li>

            </div>
        </div>
        <div class="slide" id="4">

            <div class="content fourth-content">
                {% include 'certificates.html' %}
                <div class="container-fluid">

                    <form id="contact" action="" method="post">
                        {% include 'resume.html' %}
                        <div class="row">
                          <div class="col-md-12">
                            <h2>Say Hello!</h2>
                          </div>
                          <div class="col-md-6">
                            <fieldset>
                              <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                            </fieldset>
                          </div>
                          <div class="col-md-6">
                            <fieldset>
                              <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                            </fieldset>
                          </div>
                          <div class="col-md-12">
                            <fieldset>
                              <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-md-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="button">Send Now</button>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/accordations.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            // navigation click actions
            $('.scroll-link').on('click', function(event){
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // scroll to top action
            $('.scroll-top').on('click', function(event) {
                event.preventDefault();
                $('html, body').animate({scrollTop:0}, 'slow');
            });
            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
        // scroll function
        function scrollToID(id, speed){
            var offSet = 0;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({scrollTop:targetOffset}, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }
        if (typeof console === "undefined") {
            console = {
                log: function() { }
            };
        }
    </script>

  </body>
</html>