{% load static %}

<div class="container-fluid">
                    <div class="row">
                        <div class="owl-carousel owl-theme">
                            <div class="col-md-12">
                                <div class="featured-item">
                                	<a href=""><img src="{% static 'images/cert1.png' %}" alt=""></a>
                                    <div class="down-content">
                                    <h4>SQL certification</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <a href=""><img src="{% static 'images/cert2.png' %}" alt=""></a>
                                    <div class="down-content">
                                        <h4>Crash Course on Python</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'images/cert3.png' %}" alt="">
                                    <div class="down-content">
                                        <h4>IT support specialization</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'images/cert4.png' %}" alt="">
                                    <div class="down-content">
                                        <h4>Operating System and You: becoming a poweruser</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'images/cert5.png' %}" alt="">
                                    <div class="down-content">
                                        <h4>System Administration, and IT infrastructure Services </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'images/cert6.png' %}" alt="">
                                    <div class="down-content">
                                        <h4>Technical Support Fundamentals</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'images/cert7.png' %}" alt="">
                                    <div class="down-content">
                                        <h4>The Bits and Bytes of Computer Networking</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'images/cert8.jpg' %}" alt="">
                                    <div class="down-content">
                                        <h4>Learn Python 3</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'images/item-09.jpg' %}" alt="">
                                    <div class="down-content">
                                        <h4>Curabitur sed 10</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
